.CartContainer {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  width: 100%;

  .Cart {
    justify-items: center;
    width: 80%;

    .ListItems {
      width: 100%;
      text-align: left;

      .ModifyQuantity svg {
        width: 0.8em;
        color: #001529;
      }
    }

    .CartHeader {
      width: 100%;
      position: relative;

      .ClearCart {
        position: absolute;
        right: 0;
      }
    }
  }
}
