.Navbar {
  width: 100%;
  margin-top: 0.5em;
  position: relative;

  .Home {
    color: white;
  }

  .Back {
    margin: 1em 0 0 1em;
    position: absolute;
    left: 0;
    color: white;
  }

  .MenuButton {
    margin: 1em 1em 0 0;
    position: absolute;
    right: 0;
    color: white;
  }
}
