.RestaurantPage {
  .RestaurantInfo {
    width: 100%;
    position: relative;
    .Info {
      background: none;
      border: none;
      position: absolute;
    }
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .Contact {
    margin-top: 0.5em;
  }

  .Contact a {
    color: black;
  }

  .ant-tabs {
    width: 100%;

    .ant-tabs-tab div {
      font-size: 1.1em;
    }

    .SectionContainer {
      flex-wrap: wrap;
      justify-content: center;
      margin: 1em;
      width: 100%;
    }
  }

  .SelectContainer {
    width: 100%;
    background-color: rgba(245, 245, 245, 255);
    position: sticky;
    top: 0em;
    z-index: 1000;
  }

  .SelectSection {
    width: 15em;
    margin-top: 1em;

    .ant-select-selector {
      background: transparent !important;
      border: none;
      margin-right: 1em;

      span {
        font-size: 16px;
        color: black;
        border-bottom: 1px solid lightgrey;
      }
    }
  }
}

.ant-select-item-option-content {
  font-size: 16px;
}

.ant-modal-content {
  .ant-modal-body {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
}
