.Sections {
  justify-items: start;
  display: grid;
  width: 80%;

  .ListItems {
    width: 100%;
    text-align: left;

    .ModifyQuantity svg {
      width: 0.8em;
      color: #001529;
    }

    .ant-list-item {
      height: auto;

      .ant-list-item-meta-title a {
        font-size: 14px;
        font-weight: normal;
      }

      .ant-list-item-meta-description {
        font-size: 12px;
        font-weight: normal;
      }

      .ant-list-item-action .ant-btn {
        background-color: transparent;
      }
    }
  }
}
